*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
    overflow-y: scroll; 
}

.colors-used{
    color: #fff;
    color: rgb(3, 169, 244, 0.7);
    color: #313131;
}