.heading{
    width: 100%;
    font-size: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    animation: popup 1.5s;
}

.heading hr{
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}